@import '~bootstrap/scss/bootstrap';

.image_container {
    width: 100px;
    height: 50px;
    display: flex;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

// pagination ------------------------------>

.pagination {


    .page-link {
        color: #595959;
    }

    .page-link.active,
    .active>.page-link {
        background-color: #212529;
        border-color: #b9b9b9;
    }

    .page-item.active .page-link {
        color: #b9b9b9 !important;
        background: rgb(102, 102, 102) !important;
    }

}

.text-muted {
    color: rgb(84, 84, 84) !important;
}




.heading {
    background-color: #1a1a1a;
}

body {
    background-color: #212529;
}

.form-control::placeholder {
    color: #b6b6b6;
    opacity: 0.6;
}